@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.hero {
  background-image: url("./Images/hero7.png");
  height: 425px;
  background-position: center 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.clock_section {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 22px;
  font-family: "Press Start 2P", cursive;
}
.clock {
  color: yellow;
  text-shadow: 1px 1px 7px #000000;
}
.clock_section p {
  font-size: 12px;
  color: white;
  margin: 0;
  text-align: right;
  text-shadow: 1px 1px 2px black;
}

.hero_text {
  width: 70%;
  display: grid;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: "El Messiri", sans-serif;
}

.hero_text h2 {
  font-size: 49px;
  font-weight: bold;
  text-shadow: 2px 1px 3px #ff2700;
}

.heder_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 32 118);
  margin: 7px 0px;
  color: rgb(255 255 255);
  text-shadow: 3px 2px 3px black;
  padding: 5px 0px;
}

#subject_heading {
  text-transform: uppercase;
}

.our_services_section {
  background-color: rgb(5 2 34 / 97%);
  color: rgb(157, 157, 157);
  font-family: "Poppins", sans-serif;
}

.service_img {
  display: inline-block;
  filter: invert(39%) sepia(90%) saturate(614%) hue-rotate(156deg)
    brightness(97%) contrast(89%);
}
.service_image {
  width: 150px;
  margin: auto;
}
.service_image img {
  width: 150px;
  height: 120px;
  padding: 10px 0px;
}
.service {
  background-color: rgb(8 3 61);
  border: 1px solid #373636;
  margin: 10px;
  border-radius: 7px;
  padding: 10px;
  color: white;
}
.service p {
  color: #afadad;
}
.service:hover {
  background-color: #0d0a29;
}
.service_header h4 {
  text-align: center;
}
.switch_button {
  color: #fff !important;
  background-color: #138dbd6e !important;
  border-color: #403e51 !important;
}
.table_result tbody,
td,
tfoot,
th,
thead,
tr {
  border-width: 1px !important;
}

.click_btn {
  background-color: #08033d !important;
}
.result_header {
  padding-top: 20px;
  width: 100%;
  margin: auto;
  text-align: center;
  background: #d1d1d1;
}

.result_header h1 {
  font-weight: bold;
  color: #000000;
}

.table_header {
  width: 90%;
  text-align: center;
  font-size: 23px;
}
.index_header {
  text-align: center;
  font-size: 23px;
}
.table_second_td {
  text-align: center;
  font-weight: bold;
  color: yellow !important;
}
.table-dark {
  --bs-table-bg: #000000 !important;
}
#ask_question {
  background-color: rgb(25, 7, 218) !important;
  padding: 9px 15px;
  font-size: 18px;
}

/* .switch_button:hover {
  background-color: rgb(25, 7, 218) !important;
  color: white;
} */

.switch_btn_style {
  background-color: rgb(255, 0, 93) !important;
  transition: 0.5s linear !important;
}
#show,
#index {
  font-size: 28px;
  font-family: "Asap", sans-serif;
  text-transform: capitalize;
}

.question_img {
  width: 85%;
  height: 169px;
  margin: auto;
  filter: invert(39%) sepia(90%) saturate(614%) hue-rotate(156deg)
    brightness(97%) contrast(89%);
}
.footer_section {
  background-color: #122628;
  color: #beedff;
  margin-top: 45px;
}
.footer {
  padding: 20px 0px;
}

.show_subject {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
}
.show_subject h3 {
  background-color: #d1d1d1;
  padding: 6px 21px;
  border-radius: 22px;
  margin-bottom: 0px;
  text-transform: capitalize;
}
#show_subject {
  color: red;
}

/* media query for all device */

@media only screen and (max-width: 688px) {
  .hero {
    height: 200px;
  }
  .hero_text {
    width: 85%;
    text-align: center;
  }
  .hero_text h2 {
    font-size: 27px;
  }
  .result_header {
    width: 100%;
  }
  .result_header h1 {
    font-size: 25px;
  }
  #show,
  #index {
    font-size: 20px;
    font-family: "Asap", sans-serif;
    text-transform: capitalize;
  }
  .table_header,
  .index_header {
    font-size: 18px;
  }
  .show_subject h3 {
    font-size: 18px;
  }
  .clock_section {
    font-size: 13px;
  }
  .clock_section p {
    font-size: 10px;
    margin: 0;
    color: white;
  }
  #subject_heading {
    font-size: 23px;
  }
}
